#root {

  margin: 0px;
  padding: 0px;
  width:100%;

  text-align: center;
  background-color: white;
  color: black;
  overflow:visible;
}
table, th, td {
  border: 1px solid;
  border-color: #E2E8F0;
}
tr:nth-child(even) {
  background-color: #FECACA;
}

tr:nth-child(odd) {
  background-color: #BBF7D0;
}